@use 'DataTable' as *;
@use 'sass:color';

$selection-color: red;



.MealTable {
  width: calc(100% - 1rem);
  max-height: 16.5rem;
  margin: 0 0.5rem;

  transform: scale(0.97, 0.97);
  transition: transform 0.3s ease-in-out;
  border: 1px solid $table-border-color;
}

.MealTable:not(.selected):hover {
  border-radius: 1px;
  $offset-shadow: 0 0 0 2px white;
  $ring-shadow: 0 0 0 4px hsl(195, 53%, 85%);
  box-shadow: $offset-shadow, $ring-shadow;
}

.MealTable.selected {
  // match bg color
  $offset-shadow: 0 0 0 4px white;
  $ring-shadow: 0 0 0 6px hsl(195, 53%, 59%);

  border-radius: 2px;
  box-shadow: $offset-shadow, $ring-shadow;
  transform: scale(1.0, 1.0);

  transition-property: transform, box-shadow, border-radius;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@keyframes pulse {
  0%   { scale: 0.97; }
  50%  { scale: 1.00; }
  100% { scale: 0.97; }
}

@keyframes pulse-shadow {
  0% { 
    box-shadow: none 
  }
  50% { 
    $offset-shadow: 0 0 0 3px white;
    $ring-shadow: 0 0 0 6px hsl(195, 53%, 59%);
    box-shadow: $offset-shadow, $ring-shadow;
  }
  100% { 
    box-shadow: none 
  }
}

.MealTable.targeted {
  animation: pulse-shadow 1.25s infinite ease-in-out;
}

.MealTable-header,
.MealTable-row {
  > :nth-child(1) {
    flex: 0.1 0 1rem;
    min-width: 0.5rem;
  }
  > :nth-child(2) {
    flex: 5 0 9rem;
    min-width: 9rem;
  }
  > :nth-child(3) {
    flex: 1 0 6rem;
    min-width: 6rem;
  }
  > :nth-child(4),
  > :nth-child(5),
  > :nth-child(6),
  > :nth-child(7) {
    flex: 1 0 4rem;
    min-width: 4rem;
    text-align: right;
  }
  > :nth-child(8) {
    flex: 1 0 4rem;
    min-width: 4rem;
    text-align: center;
  }
}

.MealTable-titleBar {
  position: sticky;
  top: 0.25rem;
  left: 0.25rem;
  z-index: 2;

  width: fit-content;
  height: 1.35rem;
  margin-bottom: -1.35rem;

  font-weight: 600;
}

.MealTable-actions {
  margin-left: 0.5rem;
}


.MealTable-row.footer {
  position: sticky;
  bottom: 0;

  background: $table-bg-color;
  border-top: 1px solid $table-border-color;
  border-bottom-style: none;

  &:hover {
    background: $table-bg-color;
  }
}
